WHATSAPP_API_VERSION=v23.0
WHATSAPP_PHONE_NUMBER_ID=TU_PHONE_NUMBER_ID
WHATSAPP_ACCESS_TOKEN=TU_ACCESS_TOKEN
WHATSAPP_VERIFY_TOKEN=TU_VERIFY_TOKEN

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=TU_PASSWORD
MYSQL_DATABASE=syscot_pruebas

CORS_ORIGINS=http://localhost:3000,http://localhost:5173

SECRET_KEY=CAMBIA_ESTA_CLAVE
ACCESS_TOKEN_EXPIRE_MINUTES=60
QUOTATION_FILES_DIRECTORY=uploads/quotation_files
